final Pattern EMAI_PATTERN = Patterns.EMAIL_ADDRESS;

final Account[] ACCOUNTS = AccountManager.get(context).getAccounts();
for (final Account ACCOUNT : accounts) {
    if ( EMAIL_PATTERN.matcher( ACCOUNT.name ).matches() ) {
        String possibleEmail = account.name;
        ...
    }
}
